{% extends "base_generic.html" %}
{% block content %}
<html>
    <body>
        {% load i18n %}
        <form method='post'>
            {% csrf_token %}
            <h1>{% trans "Iris Dataset" %}</h1>
            <br>
            <h3>{% trans "· Delete Data:" %}</h3>
            <table class="table table-hover">
                <tr>
                    <th><label>{% trans "Sepal Length:" %}</label></th>
                    <td><input name="sepal_length" value="{{ sepal_length }}" type="number" step='0.1' readonly/></td>
                </tr>
                <tr>
                    <th><label>{% trans "Sepal Width:" %}</label></th>
                    <td><input name="sepal_width" value="{{ sepal_width }}" type="number" step='0.1' readonly/></td>
                </tr>
                <tr>
                    <th><label>{% trans "Petal Length:" %}</label></th>
                    <td><input name="petal_length" value="{{ petal_length }}" type="number" step='0.1' readonly/></td>
                </tr>
                <tr>
                    <th><label>{% trans "Petal Width:" %}</label></th>
                    <td><input name="petal_width" value="{{ petal_width }}" type="number" step='0.1' readonly/></td>
                </tr>
                <tr>
                    <th><label>{% trans "Species:" %}</label></th>
                    <td><input name="specie" value="{{ specie }}" type="text" readonly/></td>
                </tr>
            </table>
            <input type="submit" name="Delete" value="Delete">
        </form>
    </body>
</html>
{% endblock %}
